.findBlock{
    background-color: #8481B9;
    width: 20%;

    max-width: 250px;

    position: absolute;
    margin: auto;
    padding: 1em;
    top: 1%; right: auto; bottom: auto;left: 1%;

    border-radius: 6%;
    box-shadow: 0.5em 0.5em 0 0 rgba(0, 0, 0, 0.17);

    z-index: 3;
}
.findBlock input{
    width: 90%;

    border: 1px solid #575791;
    border-radius: 5px;

    font: 12pt "Roboto";

    padding: 5px;
    margin: 0.7em 0;
}
.btn{
    margin-top: 0.5em;
    cursor: pointer;
    padding: 0 0.5em;
    background-color: #575791;
    border-radius: 5px;
    width: 6em;
    margin-left: auto;
}
.btn p{
    text-align: center;
    font-weight: 500;
}